[Unit]
Description=The stratus game streaming daemon
After=network.target
Requires=stratusd-weston.service
After=stratusd-weston.service

[Service]
Environment="WAYLAND_DISPLAY=weston"
Environment="STRATUSD_OUTPUT_FILE=/var/lib/stratusd/encode_output.h264"
ExecStart=/usr/bin/stratusd --daemon
Restart=always

[Install]
WantedBy=default.target
