[Unit]
Description=The stratus game streaming daemon
After=network.target
Requires=stratusd-sway.service
After=stratusd-sway.service

[Service]
Environment="WAYLAND_DISPLAY=wayland-1"
Environment="DISPLAY=:0"
EnvironmentFile=/etc/stratusd.conf
ExecStart=/usr/bin/stratusd --daemon
Restart=always

[Install]
WantedBy=default.target
