[Unit]
Description=The stratus game streaming daemon
After=network.target
Requires=stratusd-weston.service
After=stratusd-weston.service

[Service]
Environment="WAYLAND_DISPLAY=weston"
EnvironmentFile=/etc/stratusd.conf
ExecStart=/usr/bin/stratusd --daemon
Restart=always

[Install]
WantedBy=default.target
