unset STRATUSD_API_DEBUG
unset STRATUSD_API_MSG
unset STRATUSD_AUDIO_ENCODE_DEBUG
unset STRATUSD_BACKEND_PASSWORD
unset STRATUSD_BACKEND_URL
unset STRATUSD_CAPTURE_DEBUG
unset STRATUSD_CAPTUREPW_DEBUG
unset STRATUSD_ENCODE_DEBUG
unset STRATUSD_GAME_DEBUG
unset STRATUSD_GAME_DIR
unset STRATUSD_INPUT_DEBUG
unset STRATUSD_IP
unset STRATUSD_OUTPUT_FILE
unset STRATUSD_PORT
unset STRATUSD_SIDECAR_ONESHOT

# export STRATUSD_API_DEBUG=
# export STRATUSD_API_MSG=
# export STRATUSD_AUDIO_ENCODE_DEBUG=
# export STRATUSD_BACKEND_PASSWORD=
export STRATUSD_BACKEND_URL=ws://localhost:4000
# export STRATUSD_CAPTURE_DEBUG=
# export STRATUSD_CAPTUREPW_DEBUG=
# export STRATUSD_ENCODE_DEBUG=
# export STRATUSD_GAME_DEBUG=
# export STRATUSD_GAME_DIR=
# export STRATUSD_INPUT_DEBUG=
# export STRATUSD_IP=
# export STRATUSD_OUTPUT_FILE=
# export STRATUSD_PORT=
# export STRATUSD_SIDECAR_ONESHOT=
